<h2>Lista de postagens: </h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-primary">Nova Postagem</button></a>

<a href="/admin/categorias"><button class="btn btn-primary">Categorias</button></a>

{{#each postagens}}
	<div class="card mt-4">
		<div class="card-body">
			<h4>{{titulo}}</h4>
			<p>Descrição: {{descricao}}</p>
			<small>Data: {{data}}</small><br>
			<small>Categoria: {{categoria.nome}}</small><br>
			<a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-warning mt-3">Editar</button></a>
			<a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-3">Deletar</button></a>
		</div>
	</div>
{{else}}
	<p>Nenhuma postagem registrada!</p>
{{/each}}


<br>
  <br>
    <br>
      <br>
        <br>
          <br>
            <br>
              <br>
                <br>
                  <br>
                  <br>
                <br>
              <br>
            <br>
          <br>
        <br>
      <br>
    <br>
  <br>
<br>

