<!--Carousel-->

<div id="carouselExampleFade" 
      class="carousel slide carousel-fade" 
      data-bs-ride="carousel">
  <div class="carousel-inner" style="border-radius: 5px">
    <div class="carousel-item active">
      <img src="https://i.ibb.co/p3580Gf/Ava-Music-capa.png" 
          class="d-block w-100" 
          alt="avamusic"
          style="width: 1000px; height:520px">
    </div>
    <div class="carousel-item">
      <img src="https://escolaavantgarde.com.br/wp-content/uploads/2017/05/violao_.jpg" 
      class="d-block w-100" 
      alt="teclado"
      style="width: 1080px; height:520px">
    </div>
    <div class="carousel-item">
      <img src="https://papers.co/wallpaper/papers.co-bl15-art-piano-36-3840x2400-4k-wallpaper.jpg" 
      class="d-block w-100" 
      alt="violao"
      style="width: 1080px; height:520px">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>



<!--Jumbrotron-->
<div class="jumbotron" style="margin-top: 30px;">
  <h1 class="display-4">Bem-vindo ao AvaMusic!</h1>
  <p class="lead">O AvaMusic é um Ambiente Virtual de Aprendizagem-AVA, e mais especificamente um Ambiente Virtual de Aprendizagem Musical-AVAM.</p>
  <hr class="my-4">
  <p>Aprenda música de um jeito prático e fácil!</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
  <a class="btn btn-primary btn-lg" href="/manossolfa" role="button">Manossolfa Digital</a>
  <a class="btn btn-primary btn-lg" href="/ajuda" role="button">Ajuda</a>
</div>

<hr>

<h2 style="text-align: center; text-align: center;
  background: linear-gradient(to right, #ffff00 0%, #ff6600 100%); border-radius: 5px" 
  class="card">Cursos</h2>

<br/><br/>

<!--botões cursos-->
<div class="card" style="background-color: rgb(230,230,230);">
    <div class="card-body">
        <div class="container">
            <div class="row">

                <!--curso teoria-->
                <div class="col-sm">
                    <div class="card" style="width: 192px; text-align:center; border-radius:10px">
                        <div class="card-body">
                         <img src="https://s1.1zoom.me/big0/542/Roses_Piano_Three_3_Red_532024_1280x932.jpg" 
                              style="width: 150px; border-radius: 5px">
                              <br/>
                              <br/>
                <h5 className="card-title">Teoria 01</h5>
                <h1 style="font-size: 30px;">R$: 29,90*</h1>
                <h6><strong>*por mês</strong></h6>
                        
                        <!--Botão pagseguro Teoria-->
                        <a href="https://pag.ae/7WJSryCTR/button" 
                        target="_blank" 
                        title="Pagar com PagSeguro">
                        <img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/84x35-pagar-azul.gif" 
                        alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                        </a>     
                        <br/>        
                      </div>    
                    </div>
                </div>

                    <!--curso percepção-->
                    <div class="col-sm">
                    <div class="card" style="width: 192px; text-align:center; border-radius:10px">
                        <div class="card-body">
                         <img src="https://blog.fritzdobbert.com.br/wp-content/uploads/2017/05/Artigo50-4-1.png" 
                              style="width: 160px; border-radius: 5px">
                              <br/>
                              <br/>
                 <h5 className="card-title">Percepção 01</h5>
                <h1 style="font-size: 30px;">R$: 29,90*</h1>
                <h6><strong>*por mês</strong></h6>   
                        <!--Botão pagseguro Percepção-->
                        <a href="https://pag.ae/7WJSFzL7Q/button" 
                        target="_blank" 
                        title="Pagar com PagSeguro">
                        <img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/84x35-pagar-azul.gif" 
                        alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                        </a>     
                        <br/>        
                      </div>    
                    </div>
                </div>


                <!--curso teclado-->
                <div class="col-sm">
                    <div class="card" style="width: 192px; text-align:center; border-radius:10px">
                        <div class="card-body">
                         <img src="https://wallpapersfull.com/wallpapers/2019/teclado-musical-wallpaper-5570.jpg" 
                              style="width: 153px; border-radius: 5px">
                              <br/>
                              <br/>
                <h5 className="card-title">Teclado 01</h5>
                <h1 style="font-size: 30px;">R$: 59,90*</h1>
                <h6><strong>*por mês</strong></h6>   
                          <!--Botão pagseguro teclado-->
                          <a href="https://pag.ae/7WJSvQfYR/button" 
                          target="_blank" 
                          title="Pagar com PagSeguro">
                          <img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/84x35-pagar-azul.gif" 
                          alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                          </a>


                        <br/>        
                      </div>    
                    </div>
                </div>

                <!--curso Violão-->
                <div class="col-sm">
                    <div class="card" style="width: 192px; text-align:center; border-radius:10px">
                        <div class="card-body">
                         <img src="https://image.freepik.com/fotos-gratis/retrato-de-menina-bonita-violao-jogo-com-bicicleta-em-natureza_1150-12842.jpg" 
                              style="width: 150px; border-radius: 5px">
                              <br/>
                              <br/>
                <h5 className="card-title">Violão 01</h5>
                <h1 style="font-size: 30px;">R$: 59,90*</h1>
                <h6><strong>*por mês</strong></h6>   
                        <!--Botão pagseguro Violão-->
                        <a href="https://pag.ae/7WJSwmnB9/button" 
                        target="_blank" 
                        title="Pagar com PagSeguro">
                        <img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/84x35-pagar-azul.gif" 
                        alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                        </a>  


                        <br/>        
                      </div>    
                    </div>
                </div>
                <!--colocar outros cursos aqui-->
            </div>
        </div>
    </div>
</div>
<br/>

<h2 style="text-align: center; text-align: center;
  background: linear-gradient(to right, #ffff00 0%, #ff6600 100%); border-radius: 5px" 
  class="card">Formas de pagamento</h2>

<div class="container">
  <div class="row">


    <!--Balão 1-->
    <div class="card" style="width: 200px; height:200px;  margin-top:20px; border-radius:20px; border-width:3px">
    <div class="col-sm">     
      
      <p style="text-align: center; margin-top:40px">Pague com um Pix no valor do seu curso.</p>
      
      <a href="https://nubank.com.br/pagar/1mecif/dCCq5riSV0" 
      class="btn btn-primary" 
      style="margin-left:30px">Pix QR code</a>
    </div>
    </div>
<br/>



<!--Balão 2-->
    <div class="card" style="width: 200px; 
                              height:200px; 
                              margin-left:20px; 
                              margin-top:20px; 
                              border-radius:20px; 
                              border-width:3px">
    <div class="col-sm">     
      
      <p style="text-align: center; 
                margin-top:30px">
                
           Pague com o PagSeguro ou 
           faça uma transferência diretamente 
           para a conta do professor.
      </p>
      
    </div>
    </div>

    <!--Balão 3-->
    <div class="card" style="width: 200px; 
                              height:200px; 
                              margin-left:20px; 
                              margin-top:20px; 
                              border-radius:20px; 
                              border-width:3px">
    <div class="col-sm">     
      
      <p style="text-align: center; 
                margin-top:40px; font-size:25px">
        <strong>
                
           PIX<br/>
           TED<br/>
           DOC
        </strong></p>
      
    </div>
    </div>


<!--Balão 4-->

    <div class="card" style="width: 200px; 
                              height:200px; 
                              margin-left:20px; 
                              margin-top:20px; 
                              border-radius:20px; 
                              border-width:3px">
    <div class="col-sm">     
      
      <p style="text-align: center; 
                margin-top:20px; font-size:15px">
        
            BANCO DO BRASIL<br/>
            (001)<br/>
            Agência: 1619-5<br/>
            Conta Corrente: <br/>34439-7<br/>

            <p style="text-align:center; 
                margin-top: 20px;
                font-size:15px">THIAGO DA SILVA SALES</p>    
           
        </p>    
           
        </p>
      
    </div>
    </div>

    <!--Balão 5-->

    <div class="card" style="width: 200px; 
                              height:200px; 
                              margin-left:20px; 
                              margin-top:20px; 
                              border-radius:20px; 
                              border-width:3px">
    <div class="col-sm">     
      
      <p style="text-align: center; 
                margin-top:20px; 
                font-size:15px">
        
            NU PAGAMENTOS S.A. (260)<br/>
            Agência: 0001<br/>
            Conta Corrente: 98087127-1<br/>
      <p style="text-align:center; 
                margin-top: 20px;
                font-size:15px">THIAGO DA SILVA SALES</p>    
           
        </p>
      
      </div>
    </div>
  </div>  
</div>


<!--Postagens recentes-->
<h2 style="margin-top: 50px; text-align:center; 
background: linear-gradient(to right, #ffff00 0%, #ff6600 100%); 
border-radius: 5px">Postagens recentes: </h2>

{{#each postagens}}
<div class="card mt-4">
	<div class="card-body">
		<h3>{{titulo}}</h3>
		<p>{{descricao}}</p>
		<a href="/postagem/{{slug}}"><button class="btn btn-primary">Leia mais</button></a>
		<hr>
		<small>Categoria: {{categoria.nome}}</small><br>
		<small>Data de publicação: {{data}}</small>
	</div>
</div>

{{else}}
	<h5>Nenhuma postagem</h5>
{{/each}}

<br>
  <br>
    <br>
  <br>
<br>